h1{
   color: blanchedalmond;
}
*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:smaller;
 }
 body{
background-image: url('https://wallpapers.com/images/hd/red-and-blue-calculators-yxm0myfzuym67431.jpg');
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
display: grid;

    height: 100vh;
    place-items: center;
    
 }
 .main{
    width: 400px;
    height: 450px;
    background-color:thistle;
    position: absolute;
    border: 5px solid rgb(36, 2, 2);
    border-radius: 6px; 
 }
 .main input[type='text'] {
    width: 88%;
    position: relative;
    height: 80px;
    top: 5px;
    text-align: right;
    padding: 3px 6px;
    
    font-size: 30px;
    text-align: center;
    border: 5px solid black;
    display: flex;
    margin: auto;
    border-radius: 6px;
    color: black;
 }
 .btn input[type='button']{
    width:90px;
    padding: 2px;
    margin: 2px 0px;
    position: relative;
    left: 13px;
    top: 20px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    background-color:turquoise;
    border-radius: 6px;
    color: white;
 }
 .btn input[type='button']:hover{
    background-color: black;
    
 }